{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "id-length": [0]
  },
  "globals": {
    "beforeEach": true,
    "beforeAll": true,
    "afterEach": true,
    "afterAll": true,
    "describe": true,
    "xdescribe": true,
    "fdescribe": true,
    "it": true,
    "xit": true,
    "fit": true,
    "expect": true
  }
}
